<div class="container">
  <nav class="navbar navbar-light bg-faded">
    {{#link-to 'movies' class="navbar-brand"}}MovieDB{{/link-to}}


    <div class="pull-xs-right">
      {{login-buttons}}
    </div>
  </nav>

  {{outlet}}
</div>
